<div class='row'>
  <div class='col col-md-4'>
    <%= form_with(model: transport_type, local: true, id: 'formtransport') do |form| %>
    <% if transport_type.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(transport_type.errors.count, 'error') %> non posso salvare il record corrente:</h2>
      <ul>
        <% transport_type.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class='field'>
      <%= form.label 'TIPOLOGIA MEZZO' %>
      <% if @transport_type.name == 'AUTOVETTURA PRIVATA' || @transport_type.name == 'AUTOVETTURA AZIENDALE' %>
        <%= form.text_field :name, class: 'form-control', id: 'name', disabled: true %>
      <% else %>
        <%= form.text_field :name, class: 'form-control', id: 'name' %>
      <% end %>
    </div>
    <div class='field'>
      <%= form.label 'POSIZIONE' %>
      <%= form.number_field :position, class: 'form-control', id: 'position' %>
    </div>
    <br>
    <div class='form-group'>
      <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm') do %>
      <%= fa_icon('save') %>&nbsp;Salva
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      language: 'it'
    });
  });

  $('#formtransport').submit(function () {
    if ($('#name').val() == "") {
      alert("Devi inserire una Tipologia");
      return false;
    };

    if ($('#name').val() == "AUTOVETTURA PRIVATA" || $('#name').val() == "AUTOVETTURA AZIENDALE") {
      alert("Questa Tipologia è Riserveta");
      return false;
    };
    return;
  });
</script>
