<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= fa_icon('credit-card') %>&nbsp;&nbsp;ELENCO RIMBORSI
    </h4>
    <hr>
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>N°</th>
          <th>Trasporto</th>
          <th>Luogo Missione</th>
          <th>Motivo Missione</th>
          <th>Data Partenza</th>
          <th>Data Rientro</th>
          <th colspan='2'></th>
        </tr>
      </thead>
      <tbody>
        <% @free_reimbursments.each do |free_reimbursment| %>
        <tr>
          <td>
            <strong>
              <%= link_to free_reimbursment.name, free_reimbursment, id: 'text-info' %>
            </strong>
          </td>
          <td>
            <% if free_reimbursment.transport_type_id != nil %>
              <%= free_reimbursment.transport_type.name %>
            <% end %>
          </td>
          <td>
            <%= free_reimbursment.mission_place %>
          </td>
          <td>
            <%= free_reimbursment.mission_reason %>
          </td>
          <td>
            <%= free_reimbursment.departure_date.strftime('%d/%m/%Y') %>
          </td>
          <td>
            <%= free_reimbursment.return_date.strftime('%d/%m/%Y') %>
          </td>
          <td>
            <%= link_to fa_icon('pencil'), edit_free_reimbursment_path(free_reimbursment), id: 'text-warning' %>
          </td>
          <td>
            <%= link_to fa_icon('trash'), free_reimbursment, method: :delete, data: { confirm: 'Sei sicuro/a di voler eliminare il rimborso corrente?' }, id: 'text-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= will_paginate @free_reimbursments, renderer: BootstrapPagination::Rails %>
  </div>
</div>
