<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><i class="fas fa-gas-pump"></i></span>&nbsp;&nbsp;GESTORE
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), service_stations_path, class: 'btn btn-default btn-sm' %>
        &nbsp;
        <% if @service_station.name == '-' %>
        <% else %>
          <%= link_to fa_icon('pencil'), edit_service_station_path(@service_station), class: 'btn btn-default btn-sm', id: 'text-warning' %>
        <% end %>
      </span>
    </h4>
    <hr>
    <dl class='dl-horizontal'>
      <dt>POSIZIONE:</dt>
      <dd>
        <%= @service_station.position %>
      </dd>
      <dt>RAGIONE SOCIALE:</dt>
      <dd>
        <%= @service_station.name %>
      </dd>
      <dt>PARTITA IVA:</dt>
      <dd>
        <%= @service_station.vat_number %>
      </dd>
      <dt>INDIRIZZO:</dt>
      <dd>
        <%= @service_station.address %>
      </dd>
      <dt>CAP:</dt>
      <dd>
        <%= @service_station.zip %>
      </dd>
      <dt>CITTA':</dt>
      <dd>
        <%= @service_station.city %>
      </dd>
      <dt>NAZIONE:</dt>
      <dd>
        <%= @service_station.country %>
      </dd>
    </dl>
  </div>
</div>
