<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><%= fa_icon('building') %></span>&nbsp;&nbsp;STRUTTURA MISSIONE
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), mission_structures_path, class: 'btn btn-default btn-sm' %>
        &nbsp;
        <%= link_to fa_icon('pencil'), edit_mission_structure_path(@mission_structure), class: 'btn btn-default btn-sm', id: 'text-warning' %>
      </span>
    </h4>
    <hr>
    <dl class='dl-horizontal'>
      <dt>STRUTTURA MISSIONE:</dt>
      <dd>
        <%= @mission_structure.name %>
      </dd>
      <dt>
        <h6>
          <small>
            Posizione
          </small>
        </h6>
      </dt>
      <dd>
        <h6>
          <small>
            <%= @mission_structure.position %>
          </small>
        </h6>
      </dd>
    </dl>
  </div>
</div>
